{% extends 'base.html' %}

{% block title %} Bargain | Find the best deals {% endblock %}

{% block content %} 
    <div class="container text-center">
        <h1 class="display-5 mt-3">Bargain - Find the best deals!</h1>
        <p class="lead">Find the best deals from Amazon.in and Flipkart.com</p>

        <form id="search-form" class="d-inline-flex flex-row gap-2 justify-content-center mt-4">
            <input type="text" id="query" class="form-control">
            <input type="button" value="Search" class="btn btn-dark">
        </form>
    </div>
{% endblock %}
